body {
    margin: 0;
    overflow-x: hidden;
}
nav{
   padding:25px; 
}

.card-img-top{
    width:361px !important;
    height:380px !important;
}
.card-row{
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    overflow-x: scroll;
    justify-content: stretch;

} 
.card-row *{
   
    flex-shrink:0;
    overflow: hidden;
}
.card-row .card{
    display:flex;
    flex-direction:column;
}
.card-row .card > .card-body{
    flex-grow:1;
}
.card-row .card > .card-imagea{
  
    flex-shrink: 0;
    overflow-y: hidden;
    background-color: rgb(255, 255, 255);
}
.card-header{
    font-weight:bold;
}
.card-info{
  background-color:white;
}
.card-action{
    height:30px;
}
.card-body h5{
    font-weight: bold;
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

